# Topic: print()

### Name: Muhammad Zeeshan
### Email: zeeshanayaz1@gmail.com
### Roll: 334256

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [1]:
print("Hello", 25, True, 22.2)

Hello 25 True 22.2

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [3]:
print("Hello", 25, True, 22.2, sep="-")

Hello-25-True-22.2

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [7]:
print("Hello", end=" ")
print(25, end=" ")
print(True, end=" ")
print(22.2, end=" ")

Hello 25 True 22.2

4) Can a python print function take no value to print???

In [9]:
print()

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [25]:
name = "Ahmed"
age = 30
profession = "lawer"
graduation_year = 2005
firm_name = "The Himalya Associates"
year_of_joining = 2015
height = 5.10
weight = 70600
monthly_income = 200000

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [15]:
current_year = 2024
experience = current_year - graduation_year
print(experience)

19

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [17]:
experience_in_firm = current_year - year_of_joining
print(experience_in_firm)

9

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [19]:
dollar_rate = 277
monthly_dollar_income = monthly_income / dollar_rate
print(f"Monthly Income in dollar : {monthly_dollar_income}")

Monthly Income in dollar : 722.0216606498195

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [23]:
type(monthly_dollar_income)

print(f"Monthly Income in dollar : {int(monthly_dollar_income)}")

Monthly Income in dollar : 722

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [29]:
print(type(weight))

weight_in_kg = weight / 1000
print(f"Mr. Ahmed's weight in KG is {int(weight_in_kg)}")

<class 'int'>
Mr. Ahmed's weight in KG is 70

In [1]:
#11) print the year of birth of Mr. Ahmed.

In [31]:
year_of_birth = current_year - age
print(year_of_birth)

1994

12) Can Rs. 100 be divided equally among 6 students?
HINT: % operator (modulo)

In [35]:
if 100 % 6 == 0:
    print("Yes")
else:
    print("No")

No