# Assignment 4
### Name: Muhammad Zeeshan
### Email: zeeshanayaz1@gmail.com
### Roll: 334256

## 1. Write a Python function to find the maximum of three numbers.

In [5]:
def max_number(numbers):
    max_number = numbers[0]
    for number in numbers:
        if number > max_number:
            max_number = number
    return max_number

In [7]:
max_number([2,5,4])

5

## 2. Write a Python function to sum all the numbers in a list.
- Sample List : (8, 2, 3, 0, 7)
- Expected Output : 20

In [8]:
def sum_list(numbers):
    sum = 0
    for number in numbers:
        sum+=number
    return sum

In [9]:
sum_list([8,2,3,0,7])

20

## 3. Write a Python function to multiply all the numbers in a list.
- Sample List : (8, 2, 3, -1, 7)
- Expected Output : -336

In [10]:
def multiply_list(numbers):
    product = 1
    for number in numbers:
        product = product * number
    return product

In [11]:
multiply_list([8,2,3,-1,7])

-336